<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-6 items-center">
    <label class="flex flex-col gap-1">
        Color:
        <select [(ngModel)]="selectedVariant" class="border p-2 rounded">
            <option value="default">default</option>
            <option value="lite">lite</option>
            <option value="primary">Primary</option>
            <option value="warning">warning</option>
            <option value="error">Error</option>
            <option value="success">success</option>
            <option value="text-success">text-success</option>
            <option value="text-warning">text-warning</option>
            <option value="text-error">text-error</option>
            <option value="text-primary">text-primary</option>
            <option value="text-lite">text-lite</option>
        </select>
    </label>

    <label class="flex flex-col gap-1">
        Size:
        <select [(ngModel)]="selectedSize" class="border p-2 rounded">
            <option value="sm">Small</option>
            <option value="md">Medium</option>
            <option value="lg">Large</option>
        </select>
    </label>

    <label class="flex items-center gap-2">
        <input type="checkbox" [(ngModel)]="showLeftIcon" />
        نمایش آیکن چپ
    </label>

    <label class="flex items-center gap-2">
        <input type="checkbox" [(ngModel)]="showRightIcon" />
        نمایش آیکن راست
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" [(ngModel)]="withDot" />
        with dots
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" [(ngModel)]="withImg" />
        with image
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" [(ngModel)]="border" />
        with border
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" [(ngModel)]="radius" />
        with radius
    </label>
</div>

    <div class="w-[450px]">
        <iho-badge [border]="border" [radius]="radius"  [size]="selectedSize" label="تست"
            [variant]="selectedVariant">
            <span dot *ngIf="withDot">.</span>
            <span icon-left *ngIf="showLeftIcon" class="iho-icon-hut text-lg"></span>
            <span icon-right *ngIf="showRightIcon" class="iho-icon-hut text-lg"></span>
            <img *ngIf="withImg" img src="https://picsum.photos/16/16" alt="avatar" />
    
        </iho-badge>

    </div>


<hr class="my-5">
<div class="grid grid-cols-1 my-5">
    code:
<pre class="bg-gray-950 text-white-100 p-4 rounded text-sm">
  <code>{{ code }}</code>
</pre>
</div>