

<div class="grid grid-cols-1 my-5 w-1/2"> 
<iho-radio   [radioValue]="'booker'" [label]="'مشابه رزرو کننده'">
</iho-radio>



</div>
<div class="grid grid-cols-1 my-5 w-1/2">
<iho-radio   [radioValue]="'guest'" [label]="'مهمان'" [disabled]="true">
</iho-radio>
  <iho-radio-group formControlName="travelType" name="travelType">
    <iho-radio [radioValue]="'WORK'" label="بله"></iho-radio>
    <iho-radio [radioValue]="'PLEASURE'" label="خیر"></iho-radio>
  </iho-radio-group>


</div>
<div class="grid grid-cols-1 my-5">
    code:
    <pre class="bg-gray-950 text-white-100 p-4 rounded text-sm">
  <code>{{ code }}</code>
</pre>
</div>