<div class="text-center w-full my-10">
<iho-tooltip [isVisible]="showTooltip" [popUpTemplate]="tooltipTpl" position="right">
    <i class="iho-icon-arrow-up-01-sharp mt-6" style="font-size:32px;" (mouseenter)="onMouseEnter(true)"
        (mouseleave)="onMouseLeave(false)">
    </i>
</iho-tooltip>

<ng-template #tooltipTpl>
    <div class="text-text">این متن داخل تولتیپ نشان داده می‌شود</div>
</ng-template>

</div>
<!-- <div class="w-full text-center">
    <iho-tooltip [isVisible]="showTooltipNew" [popUpTemplate]="tooltipTplNew" position="bottom">
        <i class="iho-icon-arrow-down-01-sharp mt-6" style="font-size:32px;" (mouseenter)="onMouseEnterNew(true)"
            (mouseleave)="onMouseLeaveNew(false)">
        </i>
    </iho-tooltip>
    
    <ng-template #tooltipTplNew>
        <div class="text-sm">این متن داخل تولتیپ نشان داده می‌شود</div>
    </ng-template>
</div> -->



<div class="grid grid-cols-1 my-5">
    code:
    <pre class="bg-gray-950 text-white-100 p-4 rounded text-sm">
  <code>{{ code }}</code>
</pre>
</div>