<div class="w-1/2 mt-10  text-center">
    <iho-select [(ngModel)]="citymd" placeholder="شهر را انتخاب کنید" [searchable]="false" [size]="'md'"
        [borderless]="false" [disabled]="false" [required]="true">
        <iho-option [value]="'mashhad'" [label]="'مشهد'">مشهد</iho-option>
        <iho-option [value]="'tehran'" [label]="'تهران'">تهران</iho-option>
        <iho-option [value]="'tabriz'" [label]="'تبریز'">تبریز</iho-option>
        <iho-option [value]="'tabriz-1'" [label]="'تبریز'">تبریز</iho-option>
        <iho-option [value]="'tabriz-2'" [label]="'تبریز'">تبریز</iho-option>
        <iho-option [value]="'tabriz-3'" [label]="'تبریز'">تبریز</iho-option>
        <iho-option [value]="'tabriz-4'" [label]="'تبریز'">تبریز</iho-option>
        <iho-option [value]="'tabriz-5'" [label]="'تبریز'">تبریز</iho-option>
        <iho-option [value]="'tabriz-6'" [label]="'تبریز'">تبریز</iho-option>
        <iho-option [value]="'tabriz-7'" [label]="'تبریز'">تبریز</iho-option>
    </iho-select>
</div>
<div class="w-1/2 mt-10  text-center">
    <iho-select [(ngModel)]="citylg" placeholder="شهر را انتخاب کنید" [searchable]="true" [size]="'lg'"
        [borderless]="true" [disabled]="false" [required]="false">
        <iho-option [value]="'mashhad'" [label]="'مشهد'">مشهد</iho-option>
        <iho-option [value]="'tehran'" [label]="'تهران'">تهران</iho-option>
        <iho-option [value]="'tabriz'" [label]="'تبریز'">تبریز</iho-option>
        <iho-option [value]="'tabriz-1'" [label]="'تبریز'">تبریز</iho-option>
        <iho-option [value]="'tabriz-2'" [label]="'تبریز'">تبریز</iho-option>
        <iho-option [value]="'tabriz-3'" [label]="'تبریز'">تبریز</iho-option>
        <iho-option [value]="'tabriz-4'" [label]="'تبریز'">تبریز</iho-option>
        <iho-option [value]="'tabriz-5'" [label]="'تبریز'">تبریز</iho-option>
        <iho-option [value]="'tabriz-6'" [label]="'تبریز'">تبریز</iho-option>
        <iho-option [value]="'tabriz-7'" [label]="'تبریز'">تبریز</iho-option>
    </iho-select>
</div>
<div class="grid grid-cols-1 my-5">
    code:
    <pre class="bg-gray-950 text-white-100 p-4 rounded text-sm">
  <code>{{ code }}</code>
</pre>
</div>