

<div class="grid grid-cols-1 my-5 w-1/2"> 


<ng-container #bottomsheetContainer></ng-container>

<button (click)="openBottomsheet()" class="bg-primary-500 text-white-100 p-4 rounded text-sm">باز کردن Bottomsheet</button>
<!-- 
<iho-bottomsheet [position]="position" [title]="'عنوان Bottomsheet'" [isOpen]="isBottomsheetOpen" [disabled]="isDisabled" [dir]="'rtl'"
  (closed)="onBottomsheetClosed()">
<i class="iho-icon-information-circle  text-xl" icon-title></i>
  <p>این یک نمونه محتوای داخل Bottomsheet است.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus culpa, debitis at a totam autem consequuntur harum
    deleniti? Similique a amet quaerat voluptates alias non, quod animi eveniet veritatis quas.

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus culpa, debitis at a totam autem consequuntur harum deleniti? Similique a amet quaerat voluptates alias non, quod animi eveniet veritatis quas.
  </p>
</iho-bottomsheet> -->


</div>
<div class="grid grid-cols-1 my-5 w-1/2">


</div>
<div class="grid grid-cols-1 my-5">
    code:
    <pre class="bg-gray-950 text-white-100 p-4 rounded text-sm">
  <code>{{ code }}</code>
</pre>
</div>